<div data-uri="{{ default _ref _self }}" class="main-recipe">
  <div data-editable="recipe"> {{> component-list recipe }}</div>
  <div data-editable="recipesRelated"> {{> component-list recipesRelated }}</div>
</div>