<div data-uri="{{ default _ref _self }}" class="main-recipe">
  <div data-editable="recipe"> {{> recipe recipe }}</div>
  <div data-editable="recipesRelated"> {{> recipesRelated recipesRelated }}</div>
</div>