/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    max-width: 550px;
    background-color: white;
    margin: 10px;
  }

  .sidebar {
    background-color: white;
    margin: 0px 10px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 600px;
    margin: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 991px;
    margin: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main {
    width: 69%;
    background-color: white;
    margin: 10px;
  }

  .sidebar {
    width: 29%;
    background-color: white;
    margin: 5px;
  }

  .recipe {
    display: inline-block;
    margin: 5px;
    width: 100%;
  }

  .sidebar {
    width: 29%;
    background-color: white;
    margin: 5px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1199px;
    margin: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main {
    width: 69%;
    background-color: white;
    margin: 10px;
  }

  .sidebar {
    width: 29%;
    background-color: white;
    margin: 5px;
  }

  .recipe {
    display: inline-block;
    margin: 5px;
    width: 100%;
  }

  .recipeRelated {
    display: block;
    margin: 5px;
    width: 100%;
  }

  .kiln-placeholder {
    max-height: 700px;
  }

  .wrapper {
    flex-direction: row;
    display: flex;
    width: 100%;
    max-width: 1444px;
    margin: auto;
  }
}
