.main {
  width: 69%;
  background-color: white;
  margin: 10px;
}

.sidebar {
  width: 29%;
  background-color: white;
  margin: 5px;
}

.recipeRelated {
  display: block;
  margin: 5px;
  width: 100%;
}

.kiln-placeholder {
  max-height: 700px;
}

.wrapper {
  flex-direction: row;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    width: 350px;
    background-color: white;
    margin: auto;
  }

  .sidebar {
    background-color: white;
    margin: 0px 10px;
    width: 90%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main {
    width: 100%;
    margin: auto;
  }

  .recipe {
    display: flex;
    width: 510;
    margin: auto;
  }

  .sidebar {
    margin: auto;
    width: 510px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 530px;
    margin: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main {
    max-width: 765px;
    width: 100%;
    margin: 5px;
  }

  .recipe {
    display: block;
  }

  .sidebar {
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main {
    width: 69%;
    background-color: white;
    margin: 10px;
  }

  .sidebar {
    width: 29%;
    background-color: white;
    margin: 5px;
  }

  .recipe {
    display: inline-block;
    margin: 5px;
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1199px;
    margin: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
