/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .active {
    height: 270px;
    width: 470px;
  }

  .image {
    display: inline-block;
    height: 50px;
    opacity: 0.6;
    width: 80px;
    cursor: pointer;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .active {
    height: 270px;
    width: 470px;
  }

  .image {
    display: inline-block;
    height: 50px;
    opacity: 0.6;
    width: 80px;
    cursor: pointer;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .image {
    display: inline-block;
    height: 40px;
    opacity: 0.6;
    width: 60px;
    cursor: pointer;
  }

  .active {
    height: 200px;
    width: 320px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .active {
    height: 270px;
    width: 470px;
  }

  .image {
    display: inline-block;
    height: 50px;
    opacity: 0.6;
    width: 80px;
    cursor: pointer;
  }
}

.container {
  display: inline-block;
}

.arrows {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  align-items: center;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background-color: gray;
  opacity: 0.5;
}

.image:hover {
  opacity: 1;
}

.hidden {
  display: none;
}

.selected {
  opacity: 1;
}

.imgActive {
  display: inline-block;
  position: relative;
}
