.nathzz {
  background-color: aquamarine;
}

.Green {
  background-color: green;
}

.Red {
  background-color: red;
}

.Blue {
  background-color: blue;
}

.Black {
  background-color: black;
}

.White {
  background-color: white;
}
