a {
  color: #ff7e1a;
  text-decoration: none;
}

.btn {
  display: flex;
  background-color: #d9d9d9;
  border: none;
  text-align: center;
  font-size: 17px;
  padding: 20px;
  width: 160px;
  cursor: pointer;
}

.btns {
  background-color: #d9d9d9;
  margin: 30px 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.carouselComponent {
  display: inline-block;
}

.clock {
  margin-right: 15px;
}

.clock-directions {
  margin: 7px;
  display: flex;
}

.description {
  font-size: 14.22px;
  margin-bottom: 40px;
}

.directions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-color: #b3b3b3;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
}

.directions > p {
  font-size: 26px;
  padding: 10px;
}

.element {
  display: grid;
}

.element > span {
  color: #999999;
}

.imgScore {
  margin-bottom: 20px;
}

.information {
  display: inline-block;
  width: 37%;
  padding: 30px;
}

.ingre-title {
  font-size: 26px;
}

.infoRecipe {
  display: flex;
}

.ingredient {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.ingredient > p {
  margin: 0 5px;
}

.ingredients {
  display: block;
  margin-bottom: 30px;
}

.ingredients > p {
  display: flex;
  font-size: 26px;
}

.ingredientsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-color: #b3b3b3;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
}

.ingredient-icon {
  width: 32px;
  height: 24px;
  margin: 0 5px;
  color: #999999;
  display: block;
}

.ingredientsRecipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.ingredientsRecipe > p {
  display: flex;
  align-items: center;
}

.ingredientsRecipe > a {
  margin: 10px 10px;
}

.infoScore {
  font-size: 16px;
}

.infoRecipe {
  display: flex;
  font-size: 14px;
}

.infoRecipe > p {
  display: flex;
  margin: 5px;
  align-items: center;
}

.kiln-wrapper .kiln-overlay-form {
  display: flex;
}

.made {
  border-right-color: #b3b3b3;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 5px;
  margin-right: 5px;
}

.made-it {
  width: 30px;
  height: 30px;
  color: white;
}

.nutri-made-it {
  display: flex;
  background-color: #feaa26;
  text-align: center;
  font-size: 18px;
  padding: 10px 15px;
  width: 300px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 20px;
  color: white;
}

.nutritionFacts {
  font-size: 14.22px;
  margin: 10px 20px;
}

.nutrition-title {
  font-size: 18px;
}

.plus-icon {
  height: 30px;
}

.preparation-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: #999999;
  top: 8px;
  margin-right: 20px;
}

.option-icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  color: #999999;
}

.recipe {
  display: flex;
  font-family: 'Source Sans Pro', Arial;
  color: #4d4d4d;
}

.title {
  font-size: 22px;
  text-align: center;
}

.recipeBy {
  color: #808080;
  font-size: 14.22px;
}

.recipeDescription {
  color: black;
}

.reviews {
  border-right-color: #b3b3b3;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 5px;
  margin-right: 5px;
}

.score {
  display: block;
  font-size: 14px;
  text-align: center;
}

.score-stars-recipe {
  height: 25px;
  width: 25px;
}

.steps {
  border-bottom-width: thin;
  border-bottom-style: dotted;
  border-bottom-color: #999999;
}

.stepBtn {
  display: inline-block;
  background-color: none;
  border: none;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  width: 160px;
  cursor: pointer;
  margin-top: 20px;
}

.stepsBtns {
  display: block;
}

.stepInfo {
  font-size: 15px;
  margin: 0 55px;
  margin-bottom: 30px;
  color: #2d2d2d;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.subscribe {
  border-top-color: #b3b3b3;
  border-top-style: solid;
  border-top-width: 0.5px;
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
}

.timePreparation {
  align-items: center;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.timePreparation > p {
  margin-right: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .btn {
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 55px;
  }

  .btns {
    display: flex;
    flex-direction: row;
    height: 80px;
    order: 2;
    margin: auto;
    margin-bottom: 15px;
    width: 350px;
  }

  .carouselComponent {
    order: 0;
    margin: auto;
    display: flex;
  }

  .description {
    font-size: 18px;
  }

  .directions > p {
    font-size: 18px;
    padding: 0;
  }

  .information {
    order: 1;
    width: 320px;
    padding: 10px;
    margin: auto;
  }

  .infoRecipe {
    font-size: 11px;
    display: -webkit-box;
    margin-left: 10px;
  }

  .ingredient {
    margin: 15px;
  }

  .ingredient > a {
    display: inline-block;
  }

  .ingredient > p {
    display: inline-block;
    margin: 0 5px;
  }

  .ingredients {
    order: 2;
    padding: 10px;
    margin-bottom: 10px;
  }

  .ingre-title {
    font-size: 18px;
    padding: 0;
  }

  .ingredientsInfo {
    padding: 0;
  }

  .ingredient-icon {
    display: block;
    width: 12px;
    height: 16px;
  }

  .ingredientsRecipe {
    font-size: 14px;
    margin: 10px 5px;
  }

  .ingredientsRecipe > a {
    margin: 10px 10px;
  }

  .nutritionFacts {
    order: 2;
    font-size: 14.22px;
    margin: 10px 20px;
  }

  .nutrition-title {
    display: flex;
    justify-content: center;
  }

  .option-icon {
    width: 14px;
    height: auto;
    margin: 0 5px;
  }

  .preparation-icon {
    height: 20px;
    width: 13px;
  }

  .plus-icon {
    height: 16px;
  }

  .recipe {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', Arial;
    color: #4d4d4d;
  }

  .recipeBy {
    font-size: 18px;
  }

  .score {
    display: block;
    font-size: 14px;
    text-align: center;
  }

  .socials {
    order: 2;
  }

  .subscribe {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .stepInfo {
    margin: auto;
    width: 85%;
  }

  .stepsBtns {
    display: flex;
    align-items: center;
  }

  .steps {
    order: 2;
  }

  .stepBtn {
    align-items: center;
    display: flex;
    background-color: none;
    justify-content: center;
    font-size: 13px;
    width: 110px;
    margin: 0;
  }

  .score-stars-recipe {
    height: 25px;
    width: 25px;
  }

  .title {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
  }

  .tags {
    order: 2;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .btn {
    align-items: center;
    font-size: 11px;
    padding: 5px;
  }

  .btns {
    order: 2;
    margin: auto;
    width: 500px;
  }

  .carouselComponent {
    order: 0;
    margin: auto;
    display: block;
  }

  .description {
    font-size: 18px;
  }

  .information {
    order: 1;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: auto;
  }

  .infoRecipe {
    font-size: 12px;
  }

  .ingredients {
    order: 2;
    padding: 10px;
  }

  .ingre-title {
    padding: 5px;
  }

  .ingredientsInfo {
    padding: 5px;
  }

  .ingredient-icon {
    display: block;
    margin: 0 3px;
  }

  .ingredientsRecipe {
    display: flex;
    font-size: 14px;
    margin: 10px 5px;
  }

  .ingredientsRecipe > a {
    margin: 10px 10px;
  }

  .nutritionFacts {
    order: 2;
    font-size: 14.22px;
    margin: 10px 20px;
  }

  .nutrition-title {
    display: flex;
    justify-content: center;
  }

  .preparation-icon {
    height: 20px;
  }

  .plus-icon {
    height: 20px;
  }

  .recipe {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', Arial;
    color: #4d4d4d;
  }

  .recipeBy {
    font-size: 18px;
  }

  .score {
    display: block;
    font-size: 14px;
    text-align: center;
  }

  .socials {
    order: 2;
  }

  .subscribe {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .stepsBtns {
    display: flex;
    align-items: center;
  }

  .steps {
    order: 2;
  }

  .stepBtn {
    align-items: center;
    display: flex;
    background-color: none;
    justify-content: center;
    font-size: 15px;
  }

  .score-stars-recipe {
    height: 25px;
    width: 25px;
  }

  .title {
    font-size: 30px;
    text-align: center;
  }

  .tags {
    order: 2;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 15px;
    padding: 5px;
    width: 140px;
  }

  .btns {
    margin: 15px 0;
    height: 60px;
    width: 740px;
  }

  .carouselComponent {
    display: inline-block;
  }

  .description {
    font-size: 15px;
  }

  .imgScore {
    margin-bottom: 10px;
  }

  .infoScore {
    font-size: 14px;
  }

  .information {
    width: 42%;
    padding: 10px;
  }

  .ingredients {
    max-width: 720px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .ingredient-icon {
    display: block;
  }

  .ingredientsRecipe {
    display: flex;
    font-size: 14.22px;
    margin: 20px 10px;
  }

  .ingredientsRecipe > p {
    margin: 0 10px;
  }

  .recipeBy {
    font-size: 14px;
  }

  .steps {
    max-width: 720px;
  }

  .subscribe {
    font-size: 15px;
  }

  .title {
    font-size: 24px;
    margin: 5px 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .btn {
    font-size: 13px;
    padding: 5px;
  }

  .btns {
    width: 675px;
  }

  .carouselComponent {
    display: inline-block;
  }

  .description {
    font-size: 15px;
  }

  .imgScore {
    margin-bottom: 10px;
  }

  .infoScore {
    font-size: 14px;
  }

  .information {
    width: 37%;
    padding: 15px;
  }

  .ingredient-icon {
    display: block;
  }

  .ingredientsRecipe {
    display: flex;
    font-size: 14.22px;
    margin: 20px 10px;
  }

  .ingredientsRecipe > p {
    margin: 0 10px;
  }

  .nutrition-title {
    justify-content: left;
  }

  .nutri-made-it {
    margin: 5px 0;
    justify-content: center;
  }

  .recipeBy {
    font-size: 14px;
  }

  .score {
    font-size: 12px;
  }

  .subscribe {
    font-size: 14px;
  }

  .title {
    font-size: 20px;
    margin: 5px 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .btns {
    width: 765px;
  }

  .information {
    width: 35%;
  }

  .ingredientsRecipe {
    font-size: 14.22px;
    margin: 20px 10px;
  }

  .ingredientsRecipe > p {
    margin: 0 10px;
  }

  .carouselComponent {
    display: inline-block;
  }
}
