.author-sidebar {
  margin: 5px;
}

.explore-sidebar {
  font-size: 20px;
  color: #4d4d4d;
  display: block;
}

.head-sidebar {
  display: flex;
  justify-content: space-between;
}

.image-sidebar {
  height: 130px;
  width: 100%;
}

.likes-sidebar {
  color: #999999;
  margin: 5px;
}

.more-sidebar {
  color: #ff7e1a;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  top: 25px;
}

.title-sidebar {
  color: #2d2d2d;
  max-width: 136px;
}

.recipes-sidebar {
  display: flex;
}

.recipe-sidebar {
  margin: 5px;
  max-width: 136px;
}

.recommended-recipes {
  cursor: pointer;
  font-family: 'Source Sans Pro', Arial;
  font-size: 14px;
  max-height: 315px;
  margin-bottom: 30px;
  max-width: 304px;
}

.score-sidebar {
  display: inline-block;
}

.stars-sidebar {
  display: inline-block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .recipes-sidebar {
    width: 500px;
  }

  .head-sidebar {
    width: 100%;
  }

  .recipe-sidebar {
    max-width: 120px;
  }

  .image-sidebar {
    height: 120px;
  }

  .title-sidebar {
    max-width: 120px;
    margin: 10px 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .recipe-sidebar {
    margin: 5px;
  }

  .recipes-sidebar {
    display: flex;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .recipe-sidebar {
    margin: 5px;
  }

  .recipes-sidebar {
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
